/* Fonts and Styles*/

@font-face {
  font-family: 'LovinSansCondensed-Regular' ;
  src: url( '../assets/LovinSansCondensed-Regular.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSansCondensed-Bold' ;
  src: url( '../assets/LovinSansCondensed-Bold.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSans-Regular' ;
  src: url( '../assets/LovinSans-Regular.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSansCondensed-Black' ;
  src: url( '../assets/LovinSansCondensed-Black.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSans-Light' ;
  src: url( '../assets/LovinSans-Light.woff' ) format('woff');
}

body {
  font-family: 'LovinSans-Regular', Sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.regular {
  font-size: 0.875rem;
}

.large {
  font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LovinSansCondensed-Bold', Sans-serif;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.5),
              0 0 20px rgba(0,0,0,0.2);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
}


/* Color variables */
@frog-green: #61b310;
@frog-green-hover: darken(@frog-green, 20%);

@easter-purple: #c26fff;
@easter-purple-hover: darken(@easter-purple, 20%);

@golden: #e4b600;
@golden-hover: darken(@golden, 20%);

@dodger-blue: #4ea0ff;
@dodger-blue-hover: darken(@dodger-blue, 20%);

/* All screens */
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

/* components */

.btn {
  border: none;
  border-radius: 37px;
  color: #fff;
  font-family: 'LovinSansCondensed-Bold', Sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1px;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, .5);
  background-color: rgba(255, 255, 255, 0);
}

/* main navigation */

#logo {
  width: 268px;
  height: 101px;
  background: url('../assets/logo@2x.png') no-repeat;
  background-size: 100%;
}

@media (max-width: 767px) {

  #navbarNavDropdown {

    li {

      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #eaeaea;
      position: relative;

      &:first-child {
        border-top: 1px solid #eaeaea;
        padding-top: 20px;
        .caret {
          position: absolute;
          top: 18px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .caret {
        width: 14px;
        height: 24px;
        object-fit: contain;
        background-color: #f00;
        position: absolute;
        right: 0;
        top: 0;

        &.news-folder {
          background: url('../assets/ic-caret-right-mobile-green.svg');
        }

        &.food-folder {
          background: url('../assets/ic-caret-right-mobile-blue.svg');
        }

        &.people-folder {
          background: url('../assets/ic-caret-right-mobile-purple.svg');
        }

        &.events-folder {
          background: url('../assets/ic-caret-right-mobile-yellow.svg');
        }
      }
    }
  }

  .navbar {
    background-color: #fff;
    color: #4a4a4a;
    padding-left: 8px;
    padding-right: 8px;
  }

  #logo {
    width: 206px;
    height: 46px;
    background: url('../assets/logo-mobile@2x.png') no-repeat;
    background-size: 100%;
  }

}

@media (min-width: 768px) {

  /* absolute positions navbar */
  .navbar-wrapper {
    background-image: linear-gradient(to top,
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.52));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .navbar {
    padding-top: 2rem;
  }

  .navbar-nav {

    li {
      margin-top: 9px;
      margin-left: 10px;
    }

	}

  #navbarNavDropdown {
    .nav-link {
      color: #fff;
    }
  }

  /* border bottom style */
  .nav-link {
    padding: 0;
    border-bottom: transparent solid 2px;
  }

  .news-folder-nav-link.active,
	.news-folder-nav-link:hover {
		border-bottom: @frog-green solid 2px;
	}

  .food-folder-nav-link.active,
	.food-folder-nav-link:hover {
		border-bottom: @dodger-blue solid 2px;
	}

  .people-folder-nav-link.active,
	.people-folder-nav-link:hover {
		border-bottom: @easter-purple solid 2px;
	}

  .events-folder-nav-link.active,
	.events-folder-nav-link:hover {
		border-bottom: @golden solid 2px;
	}

}

/* homepage content */

.caption-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.caption h1 {
  color: #fff;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 2;
}

@media (max-width: 767px) {

  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .caption {
    margin-top: 15%;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  .card-title {
    margin-bottom: 0.5rem;
  }

  /* hides carousel indicators */
  .carousel-indicators {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }

}

@media (max-width: 575px) {

  .carousel-inner, .carousel-item {
    height: 240px;
  }

  .carousel-item .w-100 {
    width: auto !important;
    height: 100%;
  }

  .caption h1 {
    font-size: 2.25rem;
  }

}

@media (max-width: 320px) {

  /* sets carousel height in mobile */
  .carousel-inner, .carousel-item {
    height: 200px;
  }

}

@media (min-width: 768px) {

  /* positioned under larger nav*/
  .caption-wrapper {
    top: 180px;
  }

  .caption {
    margin-top: 0px;
    margin-left: 12%;
  }

  .caption h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

}

@media (min-width: 992px) {

  /* max width of container */
  .container{
    max-width: 940px;
  }

  .caption h1 {
    font-size: 4rem;
  }

}

@media (min-width: 1200px) {

  /* carousel caption placement on large desktop */
  .caption {
    margin-top: 80px;
  }

}

/* rule for carousel caption button */

.welcome-readmore > a {
  background-color: @easter-purple;
  border-radius: 18.5px;
  color: #fff;
  &:hover {
    background-color: @easter-purple-hover;
  }
}

/* Rules for featured categories */

/* absolute positions buttons from bottom */
.featured-posts a {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8%;
  margin: auto;
}

/* button and overlay styling */
.featured-news {
  background-color: rgba(101, 154, 42, 0.7);
  a {
    background-color: @frog-green;
  }
  a:hover {
    background-color: @frog-green-hover;
  }
}

.featured-food {
  background-color: rgba(57, 120, 191, 0.7);
  a {
    background-color: @dodger-blue;
  }
  a:hover {
    background-color: @dodger-blue-hover;
  }
}

.featured-people {
  background-color: rgba(130, 58, 194, 0.7);
  a {
    background-color: @easter-purple;
  }
  a:hover {
    background-color: @easter-purple-hover;
  }
}

.featured-events {
  background-color: rgba(189, 162, 57, 0.7);
  a {
    background-color: @golden;
  }
  a:hover {
    background-color: @golden-hover;
  }
}

.featured-overlay-content .card-text:last-child {
  margin-bottom: 60px;
}

/* twitter and instagram */
.card {
  border-radius: 0;
  border-top: none;
}

.card-group :first-child {
  border-left: none;
}

.card-group :last-child {
  border-right: none;
}

.twitter p {
  color: #191412;
  line-height: 1.71;
}

.card-body > h4 {
  color: #009bf6;
  font-family: 'LovinSansCondensed-Black', Sans-serif;
  letter-spacing: 1px;
}

.hashtag {
  color: #009bf6;
}

/* footer styles */

#footer a, #footer h4 {
  color: #fff;
}

.footer {
  background-color: #282828;
  color: #fff;
  margin-top: 118px;

  .card-body {
    padding: 0;
  }

  @media (max-width: 320px) {
    .card-body {
      padding: 1rem;
    }
  }

}

.footer-links {
  padding-top: 49px;
}

.footer h4 {
  font-family: 'LovinSansCondensed-Bold', Sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
}

.footer ul {
  line-height: 2.23;
}

.footer a {
  font-size: 0.8125rem;
  font-family: 'LovinSans-Regular';
}

.footer-copyright > p {
  font-family: 'LovinSansCondensed-Regular', Sans-serif;
  opacity: 0.5;
  font-size: 1.25rem;
  margin-top: 116px;
  margin-bottom: 0;
  padding-bottom: 69px;
}

/* ie11 homepage fix*/

@media (min-width: 992px) and (-ms-high-contrast:none) {
  .featured-overlay-content h2 {
    margin-top: 50px;
  }

  *::-ms-backdrop, .featured-overlay-content h2 {
    margin-top: 50px;
  }
}

/* Category page */

#post-header {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#category-header {
  position: relative;
  height: 400px;
  &.news {
    background: url('../assets/category-news.jpg') center center no-repeat;
    background-size: cover;

    .news-nav-link.active,
    .news-nav-link:hover,
    .Local-nav-link.active,
    .Local-nav-link:hover,
    .National-nav-link.active,
    .National-nav-link:hover {
      border-bottom: @frog-green solid 2px;
    }
  }
  &.food {
    background: url('../assets/category-food.jpg') center center no-repeat;
    background-size: cover;
  }
  &.people {
    background: url('../assets/category-people.jpg') center center no-repeat;
    background-size: cover;
  }
  &.events {
    background: url('../assets/category-events.jpg') center center no-repeat;
    background-size: cover;

    .events-nav-link.active,
    .events-nav-link:hover,
    .Local-nav-link.active,
    .Local-nav-link:hover,
    .National-nav-link.active,
    .National-nav-link:hover {
      border-bottom: @golden solid 2px;
    }
  }
}

#category-image-overlay {
  background-color: #000;
  opacity: 0.7;
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

@media (max-width: 767px) {
  #category-image-overlay, #post-header {
    height: 180px;
  }

  /* fixed height for mobile category header */
  #category-header {
    height: 180px;
  }

  .category-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 23px;
    z-index: 2;
  }

  .category-overlay h1 {
    font-size: 2.25rem;
    letter-spacing: 0.6px;
  }

  .category-overlay p {
    font-size: 0.875rem;
  }

  .category-overlay .nav-item {
    margin-top: 0;
    margin-left: 0;
    padding-left: 17px;
    padding-right: 17px;
  }

  .category .nav-link {
    padding: 0;
  }

  .category-content {
    margin-top: 20px;
  }

  .category-content .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .category-content .col-12 {
    padding-left: 0;
    padding-right: 0;
  }


  .featured-post {
    text-align: center;
    margin-bottom: 40px;
  }

  .featured-post img {
    position: absolute;
    left: 0;
    right: 0;
    top: -11px;
    margin: auto;
    height: 22px;
  }

  .card-deck {
    margin-top: 0;
  }
}

.category-main {
  background-color: #fff;
}

.category-overlay h1 {
  color: #fff;
  font-size: 2.25rem;
  letter-spacing: 0.6px;
}

.category-overlay ul {
  margin-top: 38px;
}

.category-overlay a {
  width: 66px;
  border-bottom: 2px solid transparent;
  color: #fff;
}

.category-overlay a:hover {
  border-bottom: 2px solid #61b310;
}

.select-wrapper {
  width: 66px;
}

.category-content .container {
  padding-left: 10px;
  padding-right: 10px;
}

.featured-post-title {
  color: #111111;
  font-size: 1.5rem;
  margin-top: 20px;
  line-height: 1.25;
}
  
.featured-post img {
  height: 22px;
}

.supporting-copy {
  color: #6e6e6e;
  font-size: 0.875rem;
  line-height: 1.43;
}

.featured-post > a,
.see-older-wrapper > a {
  background-color: #4a4a4a;
  color: #fff;
  &:hover {
    background-color: darken(#4a4a4a, 20%);
  }
}

.post-tag-wrapper {
  margin: auto;
  margin-top: -11px;
  z-index: 100;
}

.post-tag-wrapper img {
  height: 22px;
}

.article {
  text-align: center;
}

.article .card-title {
  color: #111111;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
}

.article .card-text {
  color: #6e6e6e;
  font-size: 0.875rem;
  line-height: 1.5;
}

.article-read-more {
  color: #b70c0f;
  display: inline-block;
  font-family: 'LovinSansCondensed-Bold', sans-serif;
}

.see-older-wrapper {
  margin-top: 82px;
  margin-bottom: 82px;
}

/* after navbar extend */
@media (min-width: 768px) {
  .category-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    z-index: 2;
  }

  .category-overlay .nav-item {
    margin-top: 0;
    margin-left: 0;
    padding-left: 33px;
    padding-right: 33px;
  }

  .category-overlay h1 {
    font-size: 4.5rem;
    letter-spacing: 1.1px;
  }

  .category-content {
    margin-top: 40px;
  }

  .card-deck {
    margin-top: 65px;
  }

}

/* homepage */

.homepage {
  background-color: #1e1e1e;
}

/* category / blog.list */

.view-list {
  background-color: #fff;
}

.content-fill {
  height: 188px;
}

/* Individual Post / blog.item */

article {
  color: #4a4a4a;
  background-color: #fff;

  .container {

    @media(min-width: 768px) {
      /* top margin above tag/title */
      margin-top: 48px;

      /* set max width of container */
      max-width: 640px;
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 1.56;
  }
}

article .title {

  color: #111111;
  font-family: 'LovinSans-Light', sans-serif;
  font-size: 1.5rem;
  /* sets margin between title and post-tag */
  margin-top: 13px;
  text-align: center;
  line-height: 1.25;
  padding: 0 10px 0 10px;
}


article .post-tag {
  display: block;
  margin: auto;
  margin-top: -11px;
  height: 22px;
}

.post-divider {
  width: 360px;
  margin-top: 48px;
  margin-bottom: 44px;
}

@media(min-width: 768px) {

  article .title {
    font-size: 2.25rem;
    margin-top: 13px;
  }

  article .post-tag {
    margin-top: 0;
  }
}

/* no margin on sqs rows */
.sqs-layout > .sqs-row {
  margin-left: 0;
  margin-right: 0;
}

.ic-twitter-on {
	width: 24px;
	height: 24px;
	object-fit: contain;
  position: absolute;
  right: 3%;
  top: 3%;
}

.ic-instagram-on {
	width: 24px;
	height: 24px;
	object-fit: contain;
  position: absolute;
  right: 3%;
  top: 3%;
}

.card-body {
  .social {
    padding: 0;
    li {
      width: 24px;
      display: inline-block;
      margin-right: 20px;
    }
  }
  &.article {
    padding: 20px 0 20px 0;
  }
}

.sprite {
	display: block;
	width: 24px;
	height: 24px;

  &.youtube {
    background: url('../assets/ic-sprite-youtube@3x.png') no-repeat;
    background-size: 24px;
  }

  &.instagram {
    background: url('../assets/ic-sprite-instagram@3x.png') no-repeat;
    background-size: 24px;
  }

  &.twitter {
    background: url('../assets/ic-sprite-twitter@3x.png') no-repeat;
    background-size: 24px;
  }

  &:hover {
  	background-position: 0 -24px;
  }
}

#carouselExampleIndicators {
  max-height: 620px;
}

.category-featured-post {
  margin-bottom: 30px;
}

.field-list {

  .title {
    font-size: 1.125rem;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }

  .caption {
    margin: 0;
  }
}

.form-button-wrapper {
  input {
    &.button.sqs-system-button.sqs-editable-button {
      border: 0;
      border-radius: 37px;
      color: #fff;
      font-family: 'LovinSansCondensed-Bold', Sans-serif;
      font-size: 0.875rem;
      letter-spacing: 1px;
      width: 140px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #4a4a4a;
      &:hover {
        background-color: darken(#4a4a4a, 20%);
      }
    }
  }

}

.ub-eats {
  background-color: #fff;
  color: @easter-purple;
  p {
    color: #9b9b9b;
  }
  
}

.ub-img {
  width: 100%;
}

.ub-content {
  text-align: center;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;

  .btn {
    background-color: @easter-purple;
    font-size: 24px;
    margin-top: 35px;
    padding: 10px;
    position: relative;
    width: 210px;

    &:hover {
      background-color: @easter-purple-hover;
    }
  } 

  p {
    font-size: 2rem;
    letter-spacing: 0.7px;
  }

  h2 {
    font-size: 4rem;
  }
}

@media (min-width: 767px) {

  .ub-img {
    height: 166px;
    width: auto;
  }

  .ub-content {
    margin-left: -50px;
    text-align: left;
    padding: 10px;

    .btn {
      background-color: @easter-purple;
      font-size: 0.875rem;
      margin-top: 35px;
      padding: 10px;
      position: relative;
      width: 140px;
    } 

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1rem;
      margin-top: 15px
    }
  }
}  

@media (min-width: 992px) {

  .ub-img {
    height: 200px;
  }

  .ub-content {
    margin-left: -70px;
  }
}  

.rmhc-img-wrapper {
  position: relative;
  /*min-height: 275px;*/
  overflow: hidden;
}

.rmhc-img {
  width: 120%;
}

.rmhc-logo {
  width: 70px;
}

.rmhc-overlay {
  background-color: rgba(189, 162, 57, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rmhc-content {
  background-color: rgba(189, 162, 57, 0.7);
  padding: 10px;

  h2 {
    font-size: 3rem;
    text-align: center;
  }

  .btn {
    background-color: #fff;
    bottom: 0;
    color: @golden;
    /*font-size: 24px;*/
    position: relative;
    /*width: 210px;*/
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media (min-width: 575px) {
  .rmhc-logo {
    width: 100px;
  }

  .rmhc-content {
    
    h2 {
      font-size: 4.5rem;
    }

    .btn {
      font-size: 24px;
      width: 210px;
    }
  }
}

@media (min-width: 767px) {
  .rmhc-img {
    width: 100%;
  }

  .rmhc-logo {
    position: absolute;
    left: 30px;
    top: 30px;
  }

  .rmhc-content {
    background-color: transparent;
    position: absolute;
    top: 0;
    text-align: left;
  

    h2 {
      font-size: 2rem;
      margin-left: 150px;
      margin-top: 50px;  
      text-align: left;
      line-height: 1.3;
    }

    .btn {
      font-size: 0.875rem;
      width: 140px;
      margin-left: 150px;
    }
  }
}

@media (min-width: 992px) {
  .rmhc-logo {
    width: 120px;
  }

  .rmhc-content {

    h2 {
      font-size: 3rem;
      margin-left: 200px;
    }

    .btn {
      margin-left: 200px;
    }
  }
}

.collection-type-page {
  padding-top: 200px;
}

#collection-5a33153b652dea7bc2a7c596 {
  padding-top: 0px;
}
