/* Fonts and Styles*/

@font-face {
  font-family: 'LovinSansCondensed-Regular' ;
  src: url( '../assets/LovinSansCondensed-Regular.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSansCondensed-Bold' ;
  src: url( '../assets/LovinSansCondensed-Bold.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSans-Regular' ;
  src: url( '../assets/LovinSans-Regular.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSansCondensed-Black' ;
  src: url( '../assets/LovinSansCondensed-Black.woff' ) format('woff');
}

@font-face {
  font-family: 'LovinSans-Light' ;
  src: url( '../assets/LovinSans-Light.woff' ) format('woff');
}

body {
  font-family: 'LovinSans-Regular', Sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.regular {
  font-size: 0.875rem;
}

.large {
  font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LovinSansCondensed-Bold', Sans-serif;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.5),
              0 0 20px rgba(0,0,0,0.2);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
}


/* Color variables */
@frog-green: #61b310;
@frog-green-hover: darken(@frog-green, 20%);

@easter-purple: #c26fff;
@easter-purple-hover: darken(@easter-purple, 20%);

@golden: #e4b600;
@golden-hover: darken(@golden, 20%);

@dodger-blue: #4ea0ff;
@dodger-blue-hover: darken(@dodger-blue, 20%);

/* All screens */
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

/* components */

.btn {
  border: none;
  border-radius: 37px;
  color: #fff;
  font-family: 'LovinSansCondensed-Bold', Sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1px;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, .5);
  background-color: rgba(255, 255, 255, 0);
}

/* main navigation */

#mcdapp,
#rmhc {
  position: relative;
  overflow: hidden;
}

#logo {
  width: 268px;
  height: 101px;
  background: url('../assets/logo@2x.png') no-repeat;
  background-size: 100%;
}

.ad-2-10 {

  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .logo, .content-wrapper {
    //jeff todo: flexbox ie 11 support
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 2;

  }

  .content {

    width: 100%;
    padding: 20px;

    h2 {
      color: #fff;
      margin-bottom: 20px;
    }

    a {
      position: static;
    }

  }

  &.rmhc {

    /*background: url('../assets/img-family@2x.png') #fff no-repeat;
    background-size: cover;
    background-position: 0 30%;*/
    height: 240px;

    /* hover zoom pseudo element */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: url('../assets/img-family@2x.png') #fff no-repeat;
      background-size: cover;
      background-position: 0 30%;
      height: 240px;
      -moz-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
    }

    &:hover {
      cursor: pointer;

      &::before {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);

      }
    }

    .logo {

      img {
        width: 100px;
        height: auto;
        /* fixes ie and chrome */
        margin-left: auto;
        margin-right: auto;
      }
    }

    .overlay {
      background-color: @golden;
    }

    .btn {
      background-color: @golden;

      &:hover {
        background-color: @golden-hover;
      }
    }
  }

  &.mcdapp {

    padding: 20px;

    &::before {
      background: url('../assets/img-mobile-hand@2x.png') #fff no-repeat;
      background-size: cover;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      -moz-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
    }

    &:hover {
      cursor: pointer;

      &::before {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
    /* end hover zoom */


    .logo {
      img {
        height: 100px;
        width: 100px;
      }
    }

    .overlay {
      background-color: @dodger-blue;
    }

    .btn {
      background-color: @dodger-blue;

      &:hover {
        background-color: @dodger-blue-hover;
      }
    }
  }
}

@media (max-width: 767px) {

  .ad-2-10 {

    .content {
      text-align: center;
      margin-top: 10%;
    }

    &.rmhc {
      background-size: contain;
      background-position: top;
      height: auto;

      /* height for pseudo element */
      &::before {
        height: 210px;
        background-position: 50% 0;
      }

      .logo {

        justify-content: flex-start;
        padding-left: 20px;
        padding-top: 20px;

        img {
          height: 180px;
          width: auto;
        }

      }
    }

    &.mcdapp {
      &::before {
        background-size: auto 100%;
        background-position: 50% 0;
      }

      .logo {
        margin-bottom: 20px;

        img {
          height: 120px;
          width: auto;
          margin-left: auto;
          margin-right: auto;
        }

      }

      .content {
        padding-top: 0;
      }

    }
  }


  #navbarNavDropdown {

    li {

      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #eaeaea;
      position: relative;

      &:first-child {
        border-top: 1px solid #eaeaea;
        padding-top: 20px;
        .caret {
          position: absolute;
          top: 18px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .caret {
        width: 14px;
        height: 24px;
        object-fit: contain;
        background-color: #f00;
        position: absolute;
        right: 0;
        top: 0;

        &.news-folder {
          background: url('../assets/ic-caret-right-mobile-green.svg');
        }

        &.food-folder {
          background: url('../assets/ic-caret-right-mobile-blue.svg');
        }

        &.people-folder {
          background: url('../assets/ic-caret-right-mobile-purple.svg');
        }

        &.events-folder {
          background: url('../assets/ic-caret-right-mobile-yellow.svg');
        }
      }
    }
  }

  .navbar {
    background-color: #fff;
    color: #4a4a4a;
    padding-left: 8px;
    padding-right: 8px;
  }

  #logo {
    width: 206px;
    height: 46px;
    background: url('../assets/logo-mobile@2x.png') no-repeat;
    background-size: 100%;
  }

}

@media (min-width: 768px) {

  /* absolute positions navbar */
  .navbar-wrapper {
    background-image: linear-gradient(to top,
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.52));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .navbar {
    padding-top: 2rem;
  }

  .navbar-nav {

    li {
      margin-top: 9px;
      margin-left: 10px;
    }

	}

  #navbarNavDropdown {
    .nav-link {
      color: #fff;
    }
  }

  /* border bottom style */
  .nav-link {
    padding: 0;
    padding-bottom: 4px;
    border-bottom: transparent solid 2px;
  }

  .news-folder-nav-link.active,
	.news-folder-nav-link:hover {
		border-bottom: @frog-green solid 2px;
	}

  .food-folder-nav-link.active,
	.food-folder-nav-link:hover {
		border-bottom: @dodger-blue solid 2px;
	}

  .people-folder-nav-link.active,
	.people-folder-nav-link:hover {
		border-bottom: @easter-purple solid 2px;
	}

  .events-folder-nav-link.active,
	.events-folder-nav-link:hover {
		border-bottom: @golden solid 2px;
	}

}

/* homepage content */

.caption-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.caption h1 {
  color: #fff;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 2;
}

#carouselExampleIndicators .carousel-inner {
  max-height: 600px;
}


@media (max-width: 767px) {

  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .caption {
    margin-top: 15%;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  .card-title {
    margin-bottom: 0.5rem;
  }

  /* header indicators */
  .carousel-indicators {
    display: flex;
    bottom: -10px;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }

}

@media (max-width: 575px) {

  .carousel-inner, .carousel-item {
    height: 240px;
  }

  .carousel-item .w-100 {
    width: auto !important;
    height: 100%;
  }

  .caption h1 {
    font-size: 2.25rem;
  }

}

@media (max-width: 320px) {

  /* sets carousel height in mobile */
  .carousel-inner, .carousel-item {
    height: 200px;
  }

}

@media (min-width: 768px) {

  /* positioned under larger nav*/
  .caption-wrapper {
    top: 180px;
  }

  .caption {
    margin-top: 0px;
    margin-left: 12%;
  }

  .caption h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

}

@media (min-width: 992px) {

  /* max width of container */
  .container{
    max-width: 940px;
  }

  .caption h1 {
    font-size: 4rem;
  }

}

@media (min-width: 1200px) {

  /* carousel caption placement on large desktop */
  .caption {
    margin-top: 80px;
  }

}

/* rule for carousel caption button */

.welcome-readmore > a {
  margin-top: 10px;
  background-color: @easter-purple;
  border-radius: 18.5px;
  color: #fff;
  &:hover {
    background-color: @easter-purple-hover;
  }
}

/* Rules for featured categories */

/* absolute positions buttons from bottom */
.featured-posts .btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8%;
  margin: auto;
}

.featured-posts,
.social-links {
  .btn {
    color: #fff;
  }
}

/* hover zoom effect */
.featured-posts .card {
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.featured-posts img {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.featured-posts .card:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* button and overlay styling */
.featured-news {
  background-color: rgba(101, 154, 42, 0.7);
  a {
    background-color: @frog-green;
  }
  a:hover {
    background-color: @frog-green-hover;
  }
}

.featured-food {
  background-color: rgba(57, 120, 191, 0.7);
  a {
    background-color: @dodger-blue;
  }
  a:hover {
    background-color: @dodger-blue-hover;
  }
}

.featured-people {
  background-color: rgba(130, 58, 194, 0.7);
  a {
    background-color: @easter-purple;
  }
  a:hover {
    background-color: @easter-purple-hover;
  }
}

.featured-events {
  background-color: rgba(189, 162, 57, 0.7);
  a {
    background-color: @golden;
  }
  a:hover {
    background-color: @golden-hover;
  }
}

.featured-overlay-content .card-text:last-child {
  margin-bottom: 60px;
}

/* twitter and instagram */
.card {
  border-radius: 0;
  border-top: none;
}

.card-group :first-child {
  border-left: none;
}

.card-group :last-child {
  border-right: none;
}

.twitter p {
  color: #191412;
  line-height: 1.71;
}

.card-body > h4 {
  color: #009bf6;
  font-family: 'LovinSansCondensed-Black', Sans-serif;
  letter-spacing: 1px;
}

.hashtag {
  color: #009bf6;
}

/* footer styles */

#footer a, #footer h4 {
  color: #666;
}

.footer {
  background-color: #e8e8e8;
  color: #666;
  margin-top: 118px;

  .card-body {
    padding: 0;
  }

  @media (max-width: 320px) {
    .card-body {
      padding: 1rem;
    }
  }

}

.footer-links {
  padding-top: 49px;
}

.footer h4 {
  font-family: 'LovinSansCondensed-Bold', Sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
}

.footer ul {
  line-height: 2.23;
}

.footer a {
  font-size: 0.8125rem;
  font-family: 'LovinSans-Regular';
}

.footer-copyright > p {
  font-family: 'LovinSansCondensed-Regular', Sans-serif;
  opacity: 0.5;
  font-size: 1.25rem;
  margin-top: 116px;
  margin-bottom: 0;
  padding-bottom: 69px;
}

/* ie11 homepage fix*/

@media (min-width: 992px) and (-ms-high-contrast:none) {
  .featured-overlay-content h2 {
    margin-top: 50px;
  }

  *::-ms-backdrop, .featured-overlay-content h2 {
    margin-top: 50px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     #ie10up{margin-left:0;}
}

/* Category page */

#post-header {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#category-header {
  position: relative;
  height: 400px;
  &.news {
    background: url('../assets/category-news.jpg') center center no-repeat;
    background-size: cover;

    .news-nav-link.active,
    .news-nav-link:hover,
    .Local-nav-link.active,
    .Local-nav-link:hover,
    .National-nav-link.active,
    .National-nav-link:hover {
      border-bottom: @frog-green solid 2px;
    }
  }
  &.food {
    background: url('../assets/category-food.jpg') center center no-repeat;
    background-size: cover;
  }
  &.people {
    background: url('../assets/category-people.jpg') center center no-repeat;
    background-size: cover;
  }
  &.events {
    background: url('../assets/category-events.jpg') center center no-repeat;
    background-size: cover;

    .events-nav-link.active,
    .events-nav-link:hover,
    .Local-nav-link.active,
    .Local-nav-link:hover,
    .National-nav-link.active,
    .National-nav-link:hover {
      border-bottom: @golden solid 2px;
    }
  }
}

#category-image-overlay {
  background-color: #000;
  opacity: 0.7;
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

@media (max-width: 767px) {
  #category-image-overlay, #post-header {
    height: 180px;
  }

  /* fixed height for mobile category header */
  #category-header {
    height: 180px;
  }

  .category-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 23px;
    z-index: 2;
  }

  .category-overlay h1 {
    font-size: 2.25rem;
    letter-spacing: 0.6px;
  }

  .category-overlay p {
    font-size: 0.875rem;
  }

  .category-overlay .nav-item {
    margin-top: 0;
    margin-left: 0;
    padding-left: 17px;
    padding-right: 17px;
  }

  .category .nav-link {
    padding: 0;
  }

  .category-content {
    margin-top: 20px;
  }

  .category-content .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .category-content .col-12 {
    padding-left: 0;
    padding-right: 0;
  }


  .featured-post {
    text-align: center;
    margin-bottom: 40px;
  }

  .featured-post img {
    position: absolute;
    left: 0;
    right: 0;
    top: -11px;
    margin: auto;
    height: 22px;
  }

  .card-deck {
    margin-top: 0;
  }
}

.category-main {
  background-color: #fff;
}

.category-overlay h1 {
  color: #fff;
  font-size: 2.25rem;
  letter-spacing: 0.6px;
}

.category-overlay ul {
  margin-top: 38px;
}

.category-overlay a {
  width: 66px;
  border-bottom: 2px solid transparent;
  color: #fff;
}

.category-overlay a:hover {
  border-bottom: 2px solid #61b310;
}

.select-wrapper {
  width: 66px;
}

.category-content .container {
  padding-left: 10px;
  padding-right: 10px;
}

.featured-post-title {
  color: #111111;
  font-size: 1.5rem;
  margin-top: 20px;
  line-height: 1.25;
}

.featured-post img {
  height: 22px;
}

.supporting-copy {
  color: #6e6e6e;
  font-size: 0.875rem;
  line-height: 1.43;
}

.featured-post > a,
.see-older-wrapper > a {
  background-color: #4a4a4a;
  color: #fff;
  &:hover {
    background-color: darken(#4a4a4a, 20%);
  }
}

/* fallback image */
.img-fall {
  min-height: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;

  img {
    height: 45px;
  }
}

.post-tag-wrapper {
  margin: auto;
  margin-top: -11px;
  z-index: 100;
  /* fix for ie */
  text-align: center;
}

.post-tag-wrapper img {
  height: 22px;
}

.article {
  text-align: center;
}

.article .card-title {
  color: #111111;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
}

.article .card-text {
  color: #6e6e6e;
  font-size: 0.875rem;
  line-height: 1.5;
}

.article-read-more {
  color: #b70c0f;
  display: inline-block;
  font-family: 'LovinSansCondensed-Bold', sans-serif;
}

.see-older-wrapper {
  margin-top: 82px;
  margin-bottom: 82px;
}

/* after navbar extend */
@media (min-width: 768px) {
  .category-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    z-index: 2;
  }

  .category-overlay .nav-item {
    margin-top: 0;
    margin-left: 0;
    padding-left: 33px;
    padding-right: 33px;
  }

  .category-overlay h1 {
    font-size: 4.5rem;
    letter-spacing: 1.1px;
  }

  .category-content {
    margin-top: 40px;
  }

  .card-deck {
    margin-top: 65px;
  }

}

/* homepage */

.homepage {
  background-color: #f2f2f2;
}

/* category / blog.list */

.view-list {
  background-color: #fff;
}

.content-fill {
  height: 188px;
}

/* Individual Post / blog.item */

article {
  color: #4a4a4a;
  background-color: #fff;

  .container {

    @media(min-width: 768px) {
      /* top margin above tag/title */
      margin-top: 48px;

      /* set max width of container */
      max-width: 640px;
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 1.56;
  }
}

article .title {

  color: #111111;
  font-family: 'LovinSans-Light', sans-serif;
  font-size: 1.5rem;
  /* sets margin between title and post-tag */
  margin-top: 13px;
  text-align: center;
  line-height: 1.25;
  padding: 0 10px 0 10px;
}


article .post-tag {
  display: block;
  margin: auto;
  margin-top: -11px;
  height: 22px;
}

.post-divider {
  width: 360px;
  margin-top: 48px;
  margin-bottom: 44px;
}

@media(min-width: 768px) {

  article .title {
    font-size: 2.25rem;
    margin-top: 13px;
  }

  article .post-tag {
    margin-top: 0;
  }
}

/* no margin on sqs rows */
.sqs-layout > .sqs-row {
  margin-left: 0;
  margin-right: 0;
}

.ic-twitter-on {
	width: 24px;
	height: 24px;
	object-fit: contain;
  position: absolute;
  right: 3%;
  top: 3%;
}

.ic-instagram-on {
	width: 24px;
	height: 24px;
	object-fit: contain;
  position: absolute;
  right: 3%;
  top: 3%;
}

.card-body {
  .social {
    padding: 0;
    li {
      width: 24px;
      display: inline-block;
      margin-right: 20px;
    }
  }
  &.article {
    padding: 20px 0 20px 0;
  }
}

.sprite {
	display: block;
	width: 24px;
	height: 24px;

  &.youtube {
    background: url('../assets/ic-sprite-youtube@3x.png') no-repeat;
    background-size: 24px;
  }

  &.instagram {
    background: url('../assets/ic-sprite-instagram@3x.png') no-repeat;
    background-size: 24px;
  }

  &.twitter {
    background: url('../assets/ic-sprite-twitter@3x.png') no-repeat;
    background-size: 24px;
  }

  &:hover {
  	background-position: 0 -24px;
  }
}

#carouselExampleIndicators {
  max-height: 620px;
}

.category-featured-post {
  margin-bottom: 30px;
}

.field-list {

  .title {
    font-size: 1.125rem;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }

  .caption {
    margin: 0;
  }
}

.form-button-wrapper {
  input {
    &.button.sqs-system-button.sqs-editable-button {
      border: 0;
      border-radius: 37px;
      color: #fff;
      font-family: 'LovinSansCondensed-Bold', Sans-serif;
      font-size: 0.875rem;
      letter-spacing: 1px;
      width: 140px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #4a4a4a;
      &:hover {
        background-color: darken(#4a4a4a, 20%);
      }
    }
  }

}

.ub-eats {
  background-color: #fff;
  color: @easter-purple;
  p {
    color: #9b9b9b;
  }

}

.ub-img {
  /*display:table-cell;*/
  vertical-align:middle;
  text-align: center;

  img {
    width: 100%;
  }
}

.ub-content {
  text-align: center;
  margin-left: 0;
  padding: 20px;

  a {
    position: static;
  }

  .btn {
    background-color: @easter-purple;

    &:hover {
      background-color: @easter-purple-hover;
    }
  }

}


@media (min-width: 767px) {

  .ub-content {
    text-align: left;

    .btn {
      background-color: @easter-purple;
      position: relative;
    }
  }

}

/* default hidden carousels */
#carousel-ig,
#carousel-tw {
  display: none;
}

/* show carousels */
@media (max-width: 767px) {
  #carousel-ig,
  #carousel-tw {
    display: block;

    .card {
      border: none;
    }

    .carousel-indicators {
      display: flex;
    }
  }

  /* move indicator past card body */
  #carousel-tw .carousel-indicators {
    bottom: 140px;
  }

  #carousel-tw .card-body {
    height:135px;
  }
}

@media (max-width: 575px) {
  /* set carousel heights on small screens */
  #carousel-ig {
    .carousel-inner,
    .carousel-item {
      height: 100vw;
    }
  }

  #carousel-tw {
    .carousel-inner,
    .carousel-item {
      height: auto;
    }

    .card-body {
      height: 135px;
      padding: 1rem;
    }
  }
}

/* carousel ease speed */

.carousel-item {
  transition: -webkit-transform 0.85s ease;
  transition: transform 0.85s ease;
  transition: transform 0.85s ease, -webkit-transform 0.85s ease;
}

/* pages clear nav*/
#page {
  /* padding-top: 200px;*/
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 720px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 940px;
  }


  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

#pageHeader {
  height: 400px;
}

/* remove pageHeader on mobile */

@media (max-width: 757px) {
  #pageHeader {
    display: none;
  }
}

/* tweak definitions */

// tweak: { "type" : "color", "title" : "Font color" }
@pageFontColor: #6e6e6e;

// tweak: { "type" : "color", "title" : "Heading 1 color" }
@pageH1Color: #000;

// tweak: { "type" : "color", "title" : "Heading 2 color" }
@pageH2Color: #000;

// tweak: { "type" : "color", "title" : "Heading 3 color" }
@pageH3Color: #000;

#page {
  color: @pageFontColor;

  h1 {
    color: @pageH1Color;
  }

  h2 {
    color: @pageH2Color;
  }

  h3 {
    color: @pageH3Color;
  }
}

// tweak: { "type" : "image", "title" : "Header Image" }
.header-img {
  background-image: url('/assets/placeholder_transparent.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pageHeader {
  .header-img;
}
